* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    background-color: #008786;
}

.container{
    background-color: #008786;
    height: calc(100vh - 30px);
    margin: 15px auto;
}
.row{
    height: 100%;
    border-radius: 5px;
}

#nameList{
    background-color: #ECEEED;
    height: 100%;
    border-radius: 20px;
    padding: 0;

}
.profile_icons{
    float: right;
    margin: 10px 20px;
}

.profile_icons i{
    padding: 10px;
    color: #898E8F;
    cursor: pointer;
}

.input-group{
    
    cursor: pointer;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    
    height: 50px;
    background-color: #fff;
    border-bottom: solid 1px #718792;
    cursor: pointer;
}

img{
    height: 40px;
    margin: 5px 10px;
    border-radius: 20px;
}

#msgList{
    background-image: url(../img/sfondo.jpg);
    background-position: bottom;
    height: 100%;
    border-radius: 20px;

}