* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    background-color: #008786;
}

.container{
    background-color: #008786;
    height: calc(100vh - 30px);
    margin: 15px auto;
}
.row{
    height: 100%;
    border-radius: 5px;
}

/* NAME LIST */
#nameList{
    background-color: #ECEEED;
    height: 100%;
    border-top-left-radius: 20px;
    border-end-start-radius: 20px;
    padding: 0;
}

/* area search */
.bannerTopLeft{    
    background-color: #ECEEED;
    width: 100%;
    border-top-left-radius: 20px;
}

.profile{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchArea{
    background-color: #96DBFD;
    margin-bottom: 5px;
}

.circleBell{
    background-color: #fff;
    color: #718792;
    text-align: center;
    height: 30px;
    width: 40px;
    border-radius: 30px;
    margin: auto;
    cursor: pointer;
}

.notificationArea{
    text-align: center;
}

.profile_icons,
.selected_icons{
    float: right;
    margin: 10px 20px;
}

.contactArea{
    display: block;
}

.profile_icons i,
.selected_icons i{
    padding: 10px;
    color: #898E8F;
    cursor: pointer;
}

.input-group{    
    cursor: pointer;
}

/* lista contatti */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{    
    height: 50px;
    background-color: #fff;
    border-bottom: solid 1px #718792;
    cursor: pointer;
}

img{
    height: 40px;
    margin: 5px 10px;
    border-radius: 20px;
}

.active{
    background-color: #718792;
    color: #fff;
}

/* MSG LIST */
#msgList{
    background-image: url(../img/sfondo.jpg);
    background-position: bottom;
    height: 100%;
    padding: 0;
    border-top-right-radius: 20px;
    border-end-end-radius: 20px;
    position: relative;
    border-left: solid 1px #718792;
}

/* banner alto */
.bannerTopRight{
    background-color: #ECEEED;
    width: 100%;
    height: 80px;
    border-top-right-radius: 20px;   
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.wifiArea{
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;   
}

.wifiArea img{
    height: 50vh;
    width: 50vw;
}

/* lato msg */
.msgContainer{
    padding: 15px;
    max-height: calc(100% - 170px);
    overflow-y: auto;
}

.msgBox{
    width: 300px;
    min-height: 50px;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 15px;
    position: relative;
}

.msgText{
   
}

.msgTime{
    font-size: xx-small;
    display: flex;
    justify-content: flex-end;
}

.msgBox.sent{
    margin-left: auto;
    background-color: #d5f9ba;
}

.msgBox.received{
    margin-right: autp;
    background-color: #fff;

}

/* input scrittura */
.typeMsg{    
    position: absolute;
    bottom: 0;        
}